trigger: none

parameters:
# Azure DevOps Organization name to share the extension with
- name: orgName
  displayName: Organization Name to Add
  type: string

pool:
  vmImage: 'ubuntu-latest'

variables:
- group: pipeline-extension-settings

steps:
- checkout: none

# install the extension cli tool
- task: TfxInstaller@5
  displayName: Use Tfx
  inputs:
    version: 'v0.x'
    checkLatest: true

# share the extension
# --share-with only adds new organizations, existing orgs are untouched
- task: ShareAzureDevOpsExtension@5
  displayName: 'Share Extension with Organization'
  inputs:
    connectTo: 'VsTeam'
    connectedServiceName: 'AzureDevOpsMarketplace'
    method: 'id'
    publisherId: '$(PublisherID)'
    extensionId: '$(ExtensionID)'
    accounts: '${{ parameters.orgName }}'
